@model AlexaSkill.Data.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.AlexaUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.AlexaUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
